.sidebarFreindImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
  
  }
  .sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }